body {
    color:rgba(0,0,0,0.87);
    position: relative;
    font-size: 15px;
    min-height: 100%;
    background-color: white;
}

header div, nav {
   background-color: white;
}

#topbar {
    z-index: 100;
    position: fixed;
    top: 0px;
    padding-bottom: 10px;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#leftcontent {
    margin-left: 24px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    
}

.searchbar {
    margin: auto;
    width: 690px;
    height: 44px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 24px;
    align-items: center;
}

.searchbar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#logo {
    margin-right: 43px;
    width: 92px;
    height: 30px;
}

#logo img {
    width: 100%;

}

svg {
    position: relative;
    width: 25px;
    height: 100%;
}

#cross {
    margin-right: 20px;
    border-right: 1px solid rgba(0,0,0,.05);
    height: 25px;
    svg {
        position: relative;
        vertical-align: middle;
        opacity: 0.5;
        height: auto;
        right: 11px;
        top: 1px;
    }
}

#mic {
    right: 8px;
    top: 10px;
}

.magglass {
    right: -7px;
    top: 10px;
    fill: #4285F4;
}

input {
    width: 545px;
    border: none;
    font-size: 16px;
}

input:focus {
    outline: none;
}

#icons {
    margin-top: 23px;
    margin-right: 28px;
    display: flex;
}


#apps {
    margin-right: 15px;
    height: 30px;
    width: 30px;
    background-image: url("https://ssl.gstatic.com/gb/images/i2_2ec824b0.png");
    background-position: 923px 167px;
    background-size: 528px 68px;
    opacity: 0.6;
}

#user {
    width: 32px;
    height: 32px;
    background-image: url("https://lh3.googleusercontent.com/ogw/ADGmqu_iBd43pZYjCboL91IYMRe5EXESUrqAMxjbTku7=s64-c-mo");
    background-size: contain;
    border-radius: 50%;
}

nav {
    z-index: 100;
    width: 100%;
    height: 47px;
    position: fixed;
    padding-left: 170px;
    top: 75px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}


#centernav {
    width: 652px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    height: 43px;
   
    svg {
        transform: scale(.65);
        display: inline-block;
    }
    
    #navleft {
        
        height: 100%;
    }

    #navleft span {
        vertical-align: middle;
        opacity: 0.7;
    }
    
    #navleft a {
        padding: 2px 15px 0px 0px;
        display: inline-block;
        height: 100%;
        line-height: 16px;
        
    }
}

#navright {
    align-self: center;
    margin-top: 5px;
}
#navright a {
    opacity: 0.7;
    font-size: 13px;
    margin-left: 15px;
}

#current {
    color: #4285F4;
    border-bottom: 3px solid #4285F4;
    span {
        opacity: 1 !important;
    }
}


#wrapper {
    position: relative;
    top: 133px;
    width: 100%;
    height: 2770px;

}

main {
    min-height: 100%;
    position: relative;
    width: 652px;
    margin-left: 180px;
}

#searchtime {
    margin-top: 4px;
    margin-bottom: 21px;
    font-size: 14px;
    opacity: 0.6;
}

.box {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    width: 100%;
}

.featured {
    height: 193px;
    margin-bottom: 51px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    .featuretext {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 24px;
    }
    span {
        opacity: 0.7;
    }
}

.searchresult {
    width: 600px;
    text-align: left;
    font-size: 14px;
    span {
        opacity: 0.7;
    }
    margin-bottom: 31px;
}

.triangle {
    display: inline-block;
    position: relative;
    top: -2px;
    left: 5px;
    opacity: 0.6;
    border-style: solid;
    border-color: black transparent black transparent;
    border-width: 5px 4px 0px 4px;
    width: 0;
    height: 0;
}

.mainlink {
    margin-top: 10px;
    font-size: 20px;
    color: #1a0dab;
}

.preview {
    margin-top: 6px;
    line-height: 1.58;
    word-wrap: break-word;
    opacity: 0.8;

    .visited {
        opacity: 0.8;
    }
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.videos {
    display: flex;
    margin-bottom: 51px;
    
}

.video {
    height: 300px;
    width: 215px;
    margin-right: 6px;
    span {
        color: #202124;
        opacity: 1;
    }

    .videotext {
        display: flex;

        height: 150px;
        flex-direction: column;
        padding-bottom: 0px;
        justify-content: space-between;
    }
    .preview {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 0px;
    }
    .videolink {
        font-size: 16px;
        line-height: 24px;
        color: #1a0dab;
        padding-left: 15px;
        padding-right: 15px;
    }
    box-sizing: border-box;
    
}

video {
    width: 100%;
    display: inline;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-bottom: 10px;
}

.relatedsearch {
    position: relative;
    height: 230px;
    margin-bottom: 31px;
    padding: 16px;
    padding-top: 17px;
    box-sizing: border-box;

    .relatedsearchtext {
        font-size: 14px;
        opacity: 0.7;
        margin-bottom: 7px;
    }

    h2 {
        margin-bottom: 5px;
    }

    .viewmore {
        opacity: 0.7;
        font-size: 14px;
        float: right;
        position: relative;
        top: -20px;

    }

    .relatedlinks {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }

    a {
        font-size: 14px;
        line-height: 18px;
        color: #1a0dab;
    }

    a img {
        display: block;
        margin-bottom: 3px;

    }
}


.feedback {
    margin-top: 28px;
    position: relative;
    width: 100%;
    text-align: right;
    margin-bottom: 12px;
    padding-right: 7px;
    font-size: 12px;
    font-style: italic;
    opacity: 0.7;
}

#seealso {
    margin-top: 23px;

    position: relative;
    font-weight: bold;
    font-size: 16px;
}

#seealso a {
    display: block;
    line-height: 28px;
    color: #1a0dab;
    span {
        font-weight: normal;
    }
}

#seealso svg {
    position: relative;
    top: 5px;
    left: -2px;
    margin-right: 2px;
    height: 21px;
    transform: scale(.85);
    display: inline;
    path {
        fill: #1a0dab;
    }     

}

#nextpage {
    margin-top: 30px;
}
#nextpage img {
    position: relative;
    display: block;
    width: 330px;
    margin: auto;
}

//FOOTER STYLING

footer {
    position: relative;
    bottom: 0;
    line-height: 40px;
    color:rgba(0,0,0,.54);
    background-color: #f2f2f2;
    color: #5f6368;
}


#footertop {
    padding-left: 180px;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid rgba(0,0,0,.05);
    div {
        display: inline-block;
        color: #5f6368;
    }
}

#precise-location {
    font-size: 14px;
    border-left: 1px solid rgba(0,0,0,.05);
    margin-left: 10px;

}

#dot {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #9e9e9e;
}

footer strong {
    color: #333;
    font-weight: bold;
}

#footerbottom {
    padding-left: 180px;
    border-top: 1px solid rgba(0,0,0,.05);
}

#footernav li {
    display: inline;
    color: #5f6368;
    font-size: 14px;

    a {
        margin-right: 23px;
    }
}
